<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scal=1.0">
    <title>{{title}}</title>
    <!--    Import Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    Import javascript-->
    <script src="/javascripts/index.js"></script>
    <!--    Import style-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{{{body}}}
</body>
</html>
